#searchQueryInput{
    padding: 8px 20px;
}
img{
   height: 400px;
   width: 400px;
   margin-bottom: 30px;
}
/* my navbar */
.my-nav{
margin-bottom: 30px;
margin-top: 10px;
}
.search-body{
    margin-top: 50px;
}
.repo-btn{
    margin-bottom: 5px;
}

.row{
    background-image: url("../../../assets/images/github.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
     ;
}
.card shadow{
    background-color: aquamarine;
}
