#searchQueryInput{
    padding: 8px 20px;
}
img{
   height: 250px;
   width: 250px;
   margin-bottom: 30px;
}
/* my navbar */
.my-nav{
margin-bottom: 30px;
margin-top: 10px;
}
.search-body{
    margin-top: 50px;
}
.repo-btn{
    margin-bottom: 5px;
}

.row{
    background: linear-gradient(#e7e4eed2,
    #dfdfe9e8), url("../../../assets/images/github.jpg");
    /* background-attachment: fixed;  */
    background-repeat: no-repeat;
    background-size: cover;
    
     ;
}
.card shadow{
    background-color: aquamarine;
}
#user,#user2{
    width: 310px;

}
.profile{
    margin-right: 60px;
}
#user>a,#user2>a{
    text-decoration: none;

}
