
<div class="container-fluid body1">
    <nav class="navbar navbar-dark light-blue fixed-top navbar-expand-sm text-center">
          <a href="/" class="navbar-brand logo"  style="color: #151414;
            font-weight: bolder; font-size: 24px;" 
            routerLink="/" routerLinkActive="active">Git-Search
         </a> 
         <a href="#github" class="navbar-link" style="color: #151313; 
                font-weight: bolder; font-size: 17px;" > Search Users </a>
              
    </nav>
    <div class="row ">
        <h2 class="heading2"> WELCOME TO GIT-SEARCH </h2> 
        <h2 class="heading3">Search username and repositories</h2> 
       
    </div>
</div>

